[Desktop Entry]
Encoding=UTF-8
Name=MX RemasterCC
Name[am]=MX እንደገና መስሪያ cc
Name[ar]=MX RemasterCC
Name[bg]=MX RemasterCC
Name[ca]=MX RemasterCC
Name[cs]=MX RemasterCC
Name[da]=MX RemasterCC
Name[de]=MX RemasterCC
Name[el]=MX RemasterCC
Name[es]=MX Remasterizar CC
Name[et]=MX RemasterCC
Name[eu]=MX RemasterCC
Name[fa]=MX RemasterCC
Name[fi]=MX RemasterCC
Name[fr]=MX RemasterCC
Name[he_IL]=MX RemasterCC
Name[hi]=MX RemasterCC
Name[hr]=MX RemasterCC
Name[hu]=MX RemasterCC
Name[id]=MX RemasterCC
Name[is]=MX RemasterCC
Name[it]=MX RemasterCC
Name[ja]=MX RemasterCC
Name[kk]=MX RemasterCC
Name[ko]=MX RemasterCC
Name[lt]=MX RemasterCC
Name[mk]=MX RemasterCC
Name[nb]=MX RemasterCC
Name[nl]=MX RemasterCC
Name[pl]=MX Remaster
Name[pt_BR]=MX-Centro de Controle de Recomposição
Name[pt]=MX-Centro de Controlo de Recomposição
Name[ro]=MX RemasterCC
Name[ru]=MX Центр ремастеринга
Name[sk]=MX RemasterCC
Name[sl]=MX RemasterCC
Name[sq]=MX RemasterCC
Name[sr]=MX RemasterCC
Name[sv]=MX RemasterCC
Name[tr]=MX RemasterCC
Name[uk]=MX RemasterCC
Name[zh_CN]=MX RemasterCC
Name[zh_TW]=MX 重製控制中心
Comment=Live persistence and remastering tools
Comment[am]=Live persistence and remastering tools
Comment[ar]=Live persistence and remastering tools
Comment[bg]=Live persistence and remastering tools
Comment[ca]=Persistència en USB autònom i eines per a gravar imatges ISO
Comment[cs]=LIVE persistence a nástroje pro remástrování
Comment[da]=Live-vedvarenhed og remastering-værktøjer
Comment[de]=Werkzeuge für Live (persistence) und Remaster
Comment[el]=ζωντανή persistence και εργαλεία για ρεμίξ.
Comment[es]=Persistencia viva y herramientas para grabar imágenes
Comment[et]=Live persistence and remastering tools
Comment[eu]=Live persistence and remastering tools
Comment[fa]=Live persistence and remastering tools
Comment[fi]=Live persistence and remastering tools
Comment[fr]=Des outils pour USB-Live (persistence) et ISO personnalisée
Comment[he_IL]=Live persistence and remastering tools
Comment[hi]=Live persistence and remastering tools
Comment[hr]=Live persistence and remastering tools
Comment[hu]=Live persistence and remastering tools
Comment[id]=Live persistence and remastering tools
Comment[is]=Live persistence and remastering tools
Comment[it]=Strumenti per creare USB-Live (con persistenza) e ISO personalizzate
Comment[ja]=ライブ環境状態の保存(persistence)とリマスターツール
Comment[kk]=Live persistence and remastering tools
Comment[ko]=Live persistence and remastering tools
Comment[lt]=Live persistence and remastering tools
Comment[mk]=Live persistence and remastering tools
Comment[nb]=Live persistence and remastering tools
Comment[nl]=Live persistentie en remastering gereedschappen
Comment[pl]=Narzędzia do remasterowania i tworzenia trwałej instalacji na USB
Comment[pt_BR]=Ferramentas de recomposição de imagens ISO e de persistência [mx-remastercc]
Comment[pt]=Ferramentas de recomposição de imagens ISO e de persistência [mx-remastercc]
Comment[ro]=Live persistence and remastering tools
Comment[ru]=Инструменты для создания носителей с рабочей ОС и с сохранением данных ремастеринга
Comment[sk]=Nástroje pre LIVE persistenciu a remastering
Comment[sl]=Orodja za živo persistenco in remasterizacijo
Comment[sq]=Live persistence and remastering tools
Comment[sr]=Live persistence and remastering tools
Comment[sv]=Live persistence och remastering verktyg.
Comment[tr]=Live persistence and remastering tools
Comment[uk]=Live persistence and remastering tools
Comment[zh_CN]=Live persistence and remastering tools
Comment[zh_TW]=將正在運行的系統設為持續版或重製版
Exec=mx-remastercc
Terminal=false
Type=Application
Icon=preferences-desktop
Categories=GNOME;GTK;System;MX-Live
NoDisplay=false

